RELAY_GPS_URL=http://<host>:<port>/ingest/<device>/gps/main/default
RELAY_PULSE_URL=http://<host>:<port>/ingest/<device>/pulse/main/default
RELAY_HR_URL=http://<host>:<port>/ingest/<device>/h10/<id>/default
RELAY_ECG_URL=http://<host>:<port>/ingest/<device>/h10/<id>/ecg
RELAY_ACC_URL=http://<host>:<port>/ingest/<device>/h10/<id>/acc
POLAR_DEVICE_ID=XXXXXXXX
