RELAY_URL=http://<host>:<port>/ingest/<device>/gps/<stream>/<variant>
RELAY_HR_URL=http://<host>:<port>/ingest/<device>/h10/<id>/hr
RELAY_ECG_URL=http://<host>:<port>/ingest/<device>/h10/<id>/ecg
RELAY_ACC_URL=http://<host>:<port>/ingest/<device>/h10/<id>/acc
POLAR_DEVICE_ID=XXXXXXXX
