RELAY_GPS_URL=http://<host>:<port>/ingest/<device>/gps/main/default
RELAY_PULSE_URL=http://<host>:<port>/ingest/<device>/pulse/main/default
POLAR_H10_DEVICE_ID=XXXXXXXX
RELAY_H10_HR_URL=http://<host>:<port>/ingest/<device>/h10/<id>/hr
RELAY_H10_ECG_URL=http://<host>:<port>/ingest/<device>/h10/<id>/ecg
RELAY_H10_ACC_URL=http://<host>:<port>/ingest/<device>/h10/<id>/acc
POLAR_PACER_DEVICE_ID=DA2E2324
RELAY_PACER_HR_URL=http://<host>:<port>/ingest/<device>/pacer/<id>/hr
RELAY_PACER_ACC_URL=http://<host>:<port>/ingest/<device>/pacer/<id>/acc
RELAY_PACER_PPI_URL=http://<host>:<port>/ingest/<device>/pacer/<id>/ppi
